@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter";
}
#first_name,
#second_name,
#email,
#message {
  display: flex;
  flex-direction: column;
}

#first_name,
#second_name {
  height: 50px;
  border-radius: 8px;
  width: 100%;
  padding: 10px 135px 10px 30px;
  margin-top: 0.3rem;
  border: 1px solid #d0d5dd;
}

.first-and-second-name {
  display: flex;
  gap: 24px;
  margin: 0.8rem 8rem;
  padding-bottom: 0;
}

.contact-description {
  margin: 0 8rem;
  padding-top: 4rem;
}

#email {
  width: 62%;
  height: 50px;
  border-radius: 8px;
  margin: 0 8rem;
  padding: 12px 14px 12px 14px;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  border: 1px solid #d0d5dd;
}

#message {
  height: 132px;
  width: 62%;
  border-radius: 8px;
  margin: 0 8rem;
  padding: 12px 14px 12px 14px;
  margin-top: 0.3rem;
  border: 1px solid #d0d5dd;
}

.email {
  padding: 0 8rem;
}
.radio_button {
  display: flex;
  margin: 0 8rem;
  margin-top: 0.7rem;
  gap: 0.3rem;
}

.contact-me {
  padding: 1rem 0;
  font-size: 15px;
  color: #475467;
}

#btn__submit {
  width: 62%;
  padding: 12px 20px 12px 20px;
  margin: 0 8rem;
  border-radius: 8px;
  margin-top: 0.7rem;
  background: #1570ef;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.firstname,
.secondname,
.email,
.message {
  font-size: 14px;
  color: #344054;
  font-weight: 500;
}
.contact__form {
  background: #fff;
  width: 100%;
  margin: 0;
}
#contact-form {
  margin-left: 12rem;
  margin-bottom: 3rem;
}
.contact__ {
  font-size: 27px;
  font-weight: 600;
}

@media (max-width: 480px) {
  body {
    margin: 0;
    
  }

  #contact-form {
    margin-left: 0rem;
    margin-bottom: 3rem;
  }

  #first_name,
  #second_name {
    width: 200%;
    padding: 12px 14px 12px 14px;
    height: 50px;
    border-radius: 8px;
  }
  .first-and-second-name {
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0rem;
    width: 50%;
    padding: 0 auto;
  }
  #message {
    height: 132px;
    margin: 0 0rem;
    width: 100%;
  }
  #footer__ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7rem;
    
  }
  .contact-me {
    padding: 1rem 0;
    font-size: 15px;
    color: #475467;
    
  }
  .email {
    padding: 0 0rem;
  }
  .contact__form {
    background: #fff;
    margin: 0;
    width: 100%;
    padding: 0 4rem;
  }
  #email {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin: 0 0rem;
    padding: 12px 14px 12px 14px;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    border: 1px solid #d0d5dd;
  }
  .radio_button {
    display: flex;
    margin: 0 0rem;
    margin-top: 0.7rem;
    gap: 0.3rem;
  }
  #btn__submit {
    width: 100%;
    padding: 12px 20px 12px 20px;
    margin: 0 0rem;
    border-radius: 8px;
    margin-top: 0.7rem;
    background: #1570ef;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
  }
  .contact-description {
    margin: 0 0rem;
    padding-top: 4rem;
  }
}
