#profile__img{
  width: 70px;
  height: 70px;
  border-radius: 275px;
  object-fit: cover;
  
  
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: #fff;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}
body{
  background: grey;
}

.links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

#btn-twitter{
  background: #EAECF0;
  text-decoration: none;
  color: black;
  padding: 1rem 20rem;
  width: 20rem;
  text-align: center;
  margin-top: .5rem;
}

#btn-zuri{
  background: #EAECF0;
  text-decoration: none;
  color: black;
  padding: 1rem 20rem;
  width: 20rem;
  text-align: center;
  margin-top: .5rem;
}

#books{
  background: #EAECF0;
  text-decoration: none;
  color: black;
  padding: 1rem 20rem;
  width: 20rem;
  text-align: center;
  margin-top: .5rem;
}

#book__python{
  background: #EAECF0;
  text-decoration: none;
  color: black;
  padding: 1rem 20rem;
  width: 20rem;
  text-align: center;
  margin-top: .5rem;
}
#pitch{
  background: #EAECF0;
  text-decoration: none;
  color: black;
  padding: 1rem 20rem;
  width: 20rem;
  text-align: center;
  margin-top: .5rem;
}
#book__design{
  background: #EAECF0;
  text-decoration: none;
  color: black;
  padding: 1rem 20rem;
  width: 20rem;
  text-align: center;
  margin-top: .5rem;
}

.icon-links{
  background: #fff;
  text-decoration: none;
  padding: 1rem 20rem;
  width: 20rem;
  text-align: center;
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.fa-github{
  color: black;
  font-size: 2rem;
}

.fa-slack{
  font-size: 2rem;
  
}