#profile__img{
  width: 70px;
  height: 70px;
  border-radius: 275px;
  object-fit: cover;
  
  
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: #fff;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}
body{
  background: grey;
}