* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#profile__img {
  width: 70px;
  height: 70px;
  border-radius: 275px;
  object-fit: cover;
  margin-bottom: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 2rem 0;

  width: 100%;
  margin: 0;
}
body {
  background: grey;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;

  width: 100%;
}

#btn-twitter {
  background: #eaecf0;
  text-decoration: none;
  color: black;
  width: 60%;
  padding: 15px 0;
  border-radius: 9px;
  margin-top: 0.5rem;
  text-align: center;

  font-family: "inter";
  font-weight: 600;
  font-size: 14px;
}

#smallheader-icon {
  display: none;
}

#btn-zuri {
  background: #eaecf0;
  text-decoration: none;
  color: black;
  width: 60%;
  padding: 15px 0;

  text-align: center;
  border-radius: 9px;
  margin-top: 0.9rem;
  font-family: "inter";
  font-weight: 600;
  font-size: 14px;
}

#books {
  background: #eaecf0;
  text-decoration: none;
  color: black;
  width: 60%;
  padding: 15px 0;
  border-radius: 9px;
  margin-top: 0.9rem;
  text-align: center;

  font-family: "inter";
  font-weight: 600;
  font-size: 14px;
}

#book__python {
  background: #eaecf0;
  text-decoration: none;
  color: black;
  width: 60%;
  padding: 15px 0;
  border-radius: 9px;
  margin-top: 0.9rem;
  text-align: center;

  font-family: "inter";
  font-weight: 600;
  font-size: 14px;
}
#pitch {
  background: #eaecf0;
  text-decoration: none;
  color: black;
  width: 60%;
  padding: 15px 0;

  text-align: center;
  border-radius: 9px;
  margin-top: 0.9rem;
  font-family: "inter";
  font-weight: 600;
  font-size: 14px;
}
#book__design {
  background: #eaecf0;
  text-decoration: none;
  color: black;
  width: 60%;
  padding: 15px 0;
  text-align: center;
  border-radius: 9px;
  margin-top: 0.9rem;
  font-family: "inter";
  font-weight: 600;
  font-size: 14px;
}

.icon-links {
  text-decoration: none;
  width: 60%;
  padding: 15px 0;
  text-align: center;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.fa-github {
  color: black;
  font-size: 2rem;
}

.slack {
  font-size: 2rem;
  width: 2rem;
}
.footer {
  display: flex;
  justify-content: space-around;
  background: #fff;
  width: 100%;
  padding: 20px 0;
}

.vector {
  width: 150px;
  height: 22px;
}

.ingressive {
  width: 120px;
  height: 28px;
}

#tittle {
  font-size: 13px;
  color: #667085;
  font-family: "inter";
  font-weight: 400;
}
#header-icon {
  margin-left: 35rem;
  border: 0.5px solid #667085;
  border-radius: 18px;
  border-style: dotted;
  padding: 7px;
  position: relative;
  top: 1rem;
  right: 0.2rem;
}

@media (max-width: 800px) {
  body {
    margin: 0;
  }
  .header {
    display: flex;
    margin: 0;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  #twitter {
    padding-top: 8px;
    font-size: 1.5em;
  }
  #profile__img {
    margin-top: 0;
  }
  #btn-zuri,
  #books,
  #book__python,
  #pitch,
  #book__design,
  #btn-twitter {
    background: #eaecf0;
    text-decoration: none;
    color: black;
    width: 80%;
    padding: 1.2rem 0rem;
    font-size: 14px;

    border-radius: 7px;
  }
  .fa-github {
    color: black;
    font-size: 1.2rem;
  }
  .slack {
    width: 1rem;
  }
  .footer {
    display: none;
    margin-bottom: 0;
  }
  .icon-links {
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 50px 0;
  }

  #header-icon {
    margin-left: 0;
    border: 0.5px solid #667085;
    border-radius: 18px;
    border-style: dotted;
    padding: 7px;
    display: none;
  }
  #smallheader-icon {
    display: block;
    margin-left: 21rem;
    position: relative;
    top: 1.2rem;
    left: 1.5rem;
  }
}
